.headingImg{
    margin-left: 40px;  
}
.blogs_artilces{
  margin-top: 40px;
}
.content2{
    margin-left: 100px;
}
.content{
    margin-left: 170px;
}
.content3{
    margin-left: 170px;
}
.blogs_artilces1{
  margin-top: 200px; 
  background-color: #343434;
}
.cont{
    margin-left: 100px;
}
.cam{
    margin-top: 10px;
    margin-left: 200px;
}
.conte{
    margin-top: -270px;
    margin-left: 950px;
}
.more{
    margin-top: 50px;
    background-color: #800000;
    color: white;
}
.socialMedia{
    margin-top: 30px;
}
p{
    color: white;
}
.web{
    background-color: #A9A9A9;
}
.font{
    font-size: xx-large;
}
.menuButton{
    margin-top: -100px;
    color:white;
}